<!DOCTYPE html>

<header>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
</header>
<body>
<div class="field">   
   
    <div class="ui pointing menu">
        <a class="active item" href="/">
            Home
          </a>
          <a class="item" href="/Our_service">
              Our Service
          </a>
          <a class="item" href="/Contact_us">
            Contact Us
          </a>
        <div class="right menu">
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <h1>Checkpoint</h1>
        <p> 
             
            
            checkpoint checkpoint, 221b Baker Street , London </br>
            +216 71 000 000</br>
            checkpoint@checkpoint.com</br>
            
            
      </div>
</div>
</body>